<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    
    <!-- Dependent Class -->
     <bean id="bluecart" class="com.awnish.comp.Bluecart"/>
     <bean id="dhl" class="com.awnish.comp.Dhl"/>
     <bean id="dtdc" class="com.awnish.comp.Dtdc"/>
     
     
     <!-- Target Class -->
     <bean id="fkpt" class="com.awnish.comp.Flipkart">
     <property name="courier" ref="bluecart"></property>
     
    <!--  <property name="courier" ref="dhl"></property>
     <property name="courier" ref="dtdc"></property> -->
     
     </bean>
     
      <!-- <bean id="courier" class="com.awnish.comp.Courier"/> -->
   

</beans>